:root {
    font-family: 'Montserrat';
    font-size: 18px;
    --transition-speed: 600ms;
}

html {
    scroll-behavior: smooth;
}

.navBar a {
    font-weight: bolder;
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLink {
    font-weight: bolder;
    text-decoration: none;
    font-size: 1.2vw;
    color: white;
    transition: 0.3s;
    float: right;
    align-items: right;
    text-align: right;
    font-weight: lighter;
}

.nav-link {
    font-weight: bolder;
    flex-grow: 1;
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    color: white;
    transition: var(--transition-speed);
}

.navLink:hover {
    font-weight: bolder;
    filter: grayscale(0%) opacity(1);
    color: #077e8f;
}

.nav-link:hover {
    font-weight: bolder;
    filter: grayscale(0%) opacity(1);
    color: #077e8f;
}

.sidebar {
    margin-top: 5rem;
    position: fixed;
    transition: width 400ms ease;
    width: 6vw;
}

.sidebar a {
    font-weight: bold;
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    padding: 2 10px;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
}

.sidebar-nav {
    flex-direction: column;
}

.logo {
    font-weight: bold;
    width: 100px;
    height: auto;
    float: left;
}

.searchbar {
    width: 30vw;
    max-width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3rem;
    align-items: center;
    border-radius: 5vb;
    backdrop-filter: blur(20px);
    border: 0.3vh solid #fff;
}

.searchbar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    color: #fff;
    font-family: "Montserrat";
    font-size: 15px;
    padding-left: 2vw;
}

::placeholder {
    color: #fff;
    font-family: "Montserrat";
    font-size: 15px;
}

.searchbar button {
    padding-top: 0.2vw;
    border: 0;
    border-radius: 50%;
    width: 6vb;
    height: 6vb;
    cursor: pointer;
    background: transparent;
}

@media only screen and (max-width: 640px) {
    .sidebar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .logo {
        display: none;
    }

    .sidebar-nav {
        flex-direction: column;
    }

    .nav-link {
        justify-content: center;
    }
}

@media only screen and (min-width: 640px) {
    .sidebar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .sidebar:hover {
        width: 10rem;
    }

    .sidebar:hover .link-text {
        display: inline;
    }
}

.body-h {
    font-family: 'Montserrat';
    background: url('images/BG1.png') no-repeat center fixed;
    background-size: cover;
    padding: 20px;
}

.left-content {
    margin: 0 auto;
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    padding: 5vb 6vb;
}

.phrase {
    font-size: 3em;
    font-weight: 100;
    color: white;
}

.clogo {
    width: 280px;
}

.join {
    font-family: 'Montserrat';
    font-size: 1.2em;
    color: white;
}

.start {
    width: 200px;
    height: auto;
    float: left;
    display: block;
    padding-top: 45px;
}

.start:hover {
    width: 220px;
    height: auto;
    transition: var(--transition-speed);
}

.www {
    width: 150px;
    height: auto;
    align-content: center;
    display: block;
    padding-top: 20px;
}

.body-i {
    margin: 0;
    font-family: 'Montserrat';
    background: url('images/imprint.png') no-repeat center fixed;
    background-size: cover;
    padding: 20px;
}

.imprint-content {
    font-weight: 300;
    color: white;
    padding: 18vb 25vb;
    font-size: 20px;
}

.body-ss {
    font-family: 'Montserrat';
    background: url('images/Sign.png') no-repeat center fixed;
    background-size: cover;
    padding: 20px;
}

.sscontain {    
    border-radius: 8px;
    box-shadow: 0 0 10px #0eb9cd;
    margin: 2% 35%;
    backdrop-filter: blur(20px);
    width: 30vw;
    height:60vh;
    color: #fff;
    padding-top: 0.1vw;
}

.sscontain h2 {
    font-size: 5vb;
    font-family: "Montserrat";
    text-align: center;
}

.ssinput-box {
    width: 80%;
    height: 6vh;
    margin: 5vh;
}

.ssinput-box input{
    background: transparent;
    color: #fff;
    font-family: "Montserrat";
    font-size: 15px;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border: 0.3vh solid #fff;
    border-radius: 5vh;
    padding: 0.5vh 0.5vw;
}

.ssinput-box input::placeholder {
    color: #fff;
    font-family: "Montserrat";
    font-size: 15px;
}

.ssicon1{
    position: absolute;
    right: 3.5vw;
    width: 1.5vw;
    top: 29%;
}

.ssicon2{
    position: absolute;
    right: 3.5vw;
    width: 1.5vw;
    top: 47.4%;
}

.signButton {
    border-radius: 5vh;
    border-color: #fff;
    color: #fff;
    padding: 1vh 1.5vw;
    background-color: #077e8f;
    box-shadow: 0 0 10px #0eb9cd;
    cursor: pointer;
    margin-left: 72%;
}

.sscontain .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: small;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #0eb9cd;
    margin-right: 0.5vw;
    margin-left: 2.5vw;
}

.registration-link {
    margin-left: 6%;
    font-size: medium;
}

.sscontain a {
    color: #0eb9cd;
}

.body-u {
    font-family: 'Montserrat';
    background: url('images/SU.png') no-repeat center fixed;
    background-size: cover;
    padding: 20px;
}

.sucontain {
    border-radius: 8px;
    box-shadow: 0 0 10px #0eb9cd;
    margin: 1% 32%;
    backdrop-filter: blur(20px);
    width: 35vw;
    height: 70vh;
    color: #fff;
    padding-top: 0.1vw;
}

.sucontain h2 {
    font-size: 5vb;
    font-family: "Montserrat";
    text-align: center;
}

.two-fields {
    display: flex;
    width: 87%;
}

.suinput-box {
    width: 80%;
    height: 4vh;
    margin-bottom: 5vh;
    margin-left: 2.5vw;
}

.suinput-box input {
    background: transparent;
    color: #fff;
    font-family: "Montserrat";
    font-size: 15px;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border: 0.3vh solid #fff;
    border-radius: 5vh;
    padding: 0.5vh 0.5vw;
    text-align: center;
}

.suinput-box input::placeholder {
    color: #fff;
    font-family: "Montserrat";
    font-size: 15px;
    text-align: center;
}

.suicon2 {
    position: absolute;
    right: 3.5vw;
    width: 1.5vw;
    top: 48%;
    left: 83%;
}

.suicon3 {
    position: absolute;
    right: 3.5vw;
    width: 1.5vw;
    top: 61%;
    left: 83%;
}

.suicon4 {
    position: absolute;
    right: 3.5vw;
    width: 1.5vw;
    top: 73.4%;
    left: 83%;
}

.terms{
    margin-left: 2.5vw;
    margin-bottom: 2vh;  
    font-family: "Montserrat";  
    font-size: small;
}
.terms a{
    color: #fff;
    font-weight: bolder;
}

.body-tp {
    font-family: 'Montserrat';
    background: url('images/SU.png') no-repeat center fixed;
    background-size: cover;
    padding: 20px;
}

.cont {    
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px #0eb9cd;
    margin: 2% 30%;
    backdrop-filter: blur(20px);
    width: 35vw;
    height:100%;
    color: black;
    padding: 4%;
}

.body-u2 {
    font-family: 'Montserrat';
    background: url('images/SU2.png') no-repeat center fixed;
    background-size: cover;
    padding: 20px;
}

.sucontain2 {
    border-radius: 8px;
    box-shadow: 0 0 10px #0eb9cd;
    margin: 2% 32%;
    backdrop-filter: blur(20px);
    width: 35vw;
    height: 60vh;
    color: #fff;
    padding-top: 0.1vw;
}

.sucontain2 h2 {
    font-size: 5vb;
    font-family: "Montserrat";
    text-align: center;
}

.two-fields2 {
    display: flex;
    width: 83.2%;
}

.suinput-box2 {
    width: 80%;
    height: 6vh;
    margin-bottom: 5vh;
    margin-left: 2.5vw;
}

.suinput-box2 input {
    background: transparent;
    color: #fff;
    font-family: "Montserrat";
    font-size: 15px;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border: 0.3vh solid #fff;
    border-radius: 5vh;
    padding: 0.5vh 0.5vw;
    text-align: center;
}

.suinput-box2 input::placeholder {
    color: #fff;
    font-family: "Montserrat";
    font-size: 10px;
    text-align: center;
}

.suinput-box2 select {
    background: transparent;
    font-family: "Montserrat";
    font-size: 15px;
    color: #fff;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border: 0.3vh solid #fff;
    border-radius: 5vh;
    padding-left: 1vw;
}

.sucontain2 option{
    background: transparent;
    font-family: "Montserrat";
    color: black;
}

.su2icon {
    position: absolute;
    right: 3.5vw;
    width: 1.5vw;
    top: 44.7%;
    left: 77%;
    color: #fff;
}

.su2icon2 {
    position: absolute;
    right: 3.5vw;
    width: 1.5vw;
    top: 63%;
    left: 77%;
    color: #fff;
}
.sucontain2 button {
    font-family: "Montserrat";
    width: 70%;
    border-radius: 5vh;
    height: 7vh;
    outline: none;
    cursor: pointer;
    border-color: #fff;
    background-color: #077e8f;
    box-shadow: 0 0 10px #0eb9cd;
    color: #fff;
    margin-left: 5vw;
    margin-top: 0.5vh;
}